<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserMapper">

    <select id="login" resultType="com.example.demo.dao.entity.UserEntity"
            parameterType="com.example.demo.dao.entity.UserEntity">
        SELECT
        ci.ID AS id,
        ci.USER_NAME AS username,
        ci.PASSWORD AS password
        FROM
        USER_BASE ci
        where ci.USER_NAME=#{ username }
         AND ci.PASSWORD = #{ password }
    </select>

    <select id="queryByUserId" resultType="com.example.demo.dao.entity.UserEntity"
            parameterType="Integer">
        SELECT
        ci.ID AS id,
        ci.USER_NAME AS username,
        ci.PASSWORD AS password
        FROM
        USER_BASE ci
        where ci.ID=#{ id }
    </select>

    <select id="userList" resultType="com.example.demo.dao.entity.UserEntity"
            parameterType="Integer">
        SELECT
        ci.ID AS id,
        ci.USER_NAME AS username,
        ci.PASSWORD AS password
        FROM
        USER_BASE ci
    </select>

</mapper>
